body {
  background-color: blanchedalmond;
}
.square {
  width: 40px;
  height: 40px;
  border: solid black 1px;
  display: inline-block;
  margin-top: -5px;
  margin-left: -1px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: solid black 1px;
  display: inline-block;
  margin: 3px;
}

section {
  margin-top: 5px;
}
